tensorboard
numpy
typing-extensions
ipykernel
pandas
matplotlib
scipy
opencv-python-headless
scikit-learn
matplotlib
dvc
seaborn
pyYAML
tqdm
ensure
joblib
types-PyYAML
python-box
Flask
Flask-Cors
torch
torchvision
huggingface_hub
python-dotenv
-e .
# --pre torch torchvision --index-url https://download.pytorch.org/whl/nightly/cu128